@font-face{
	font-family: "Aclonica";
	src: url("Aclonica/Aclonica-Regular.ttf") format("truetype");
}

body{
	font-family: 'Aclonica', sans-serif;
	background-color: #ffe8f1;
}

header{
	margin-bottom: 20px;
}

/* página index.php */

header.index{
	margin-top: 30px;
}

header.index h1{
	text-align: center;
}

a, a:visited {
	color: #333!important;
}

.container {}

/* botones rosas: index.php, registro.php y addbebe.php */

.btn-primary{
	background-color: lightpink;
	color: black;
	border-color: black;
}

.btn-primary:hover{
    color: #fff;
    background-color: #b3b3b3;
    border-color: black;
 }

/* columnas index.php */

.informacion{
	text-align: center;
	margin-top: 50px;
}

.informacion p{
	text-align: center;
	font-size: 1.2rem;
	margin-top: 20px;
}

/* columna formulario registro.php */

.informacionform{
	margin-top: 10px;
	margin-bottom: 20px;
	text-align: center;
}

/* Fila registro.php, principal.php y logout.php */

.central{
	margin-top: 100px;
	padding-top: 20px;
	text-align: center;
}

/* Columna formulario addbebe.php */

.addbb{
	text-align: center;
	padding-bottom: 20px;
}


/* Imagen ficha.php */

.fichaimg{
	margin-bottom: 20px;
	margin-top: 20px;
}

.boton {
	font-size: 1.4em;
	color: #333;
	margin-left: 8px;
}

a.boton:hover {
	color: #333;
}

.lg-backdrop {
	background-color: #ffe8f1;
}

.img-galeria {
	border: 4px solid #fff;
	width: 200px;
	height: 200px;
	margin: 5px;
}

.container ul {
	list-style-type: none;
}